<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>savvy items</title>

    <link rel="stylesheet" type="text/css" href="../static/styles/body.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/display.css">
    <link rel="stylesheet" href="../static/styles/display_items.css">
  </head>
  <body>
    <header class="default">
        <div class="logo">
          <img src="../static/images/logo_1.jpg" id="not-ready"/>
        </div>
        <div class="actions">
          <a href="http://127.0.0.1:5000">HOME</a>
        </div>

        <div class="accounts">
          <button onclick="start()" id="red-signin">Sign In</button>
        </div>
        <div class="logged-in">
          <img src="../static/images/other.png">
        </div>
      </header>

      <div class="body">

        <div class="search">
          <section class="search">
              <form action="">
                <select name="" id="">
                  {% for item in available_items %}
                    <option value="">{{ item }}</option>
                  {% endfor %}
                </select>
                <!-- <input type="text" placeholder="Search"> -->
                <button type="submit">Search</button>
              </form>
          </section>
        </div>

        <div class="items">
          <div class="filter">Filters
            <div class="price-filter">
              Filter Price by Range
              <input type="text" name="min-price" placeholder="Min Price">
            </div>
          </div>
          <div class="item">
            {% for item in items %}
              <article class="-item">
                <a href="">
                  <img src="../static/item_images/{{ (item.type).replace(' ', ' ') }}.jpg" alt="">
                  <div class="info">
                    <h3>{{ item.name }}</h3>
                    <h4>{{ item.price }}</h4>
                    {% macro custom_round(value) %}
                      {{ value | int | round }}
                    {% endmacro %}

                    {% macro get_time(tm1, tm2) %}
                      {% set tm_diff = (tm1 - tm2) %}
                      {% set days = (tm_diff.days) %}
                      {% set hours = (tm1.hour - tm2.hour) %}
                      {% set minutes = custom_round((tm_diff.seconds/60)%60) %}
                      {{ days }} Days {{ hours }} Hrs {{ minutes }} Mins 
                    {% endmacro %}
                    <p>
                      {{ get_time(time, item.updated_at) }} Ago
                    </p>
                  </div>
                </a>
              </article>
            {% endfor %}
            <article class="-item">
              <a href="">
                <img src="../static/item_images/huawei+y6.jpg" alt="">
                <div class="info">
                  <h3>Jiko Koa</h3>
                  <h4>Ksh 4,000</h4>
                  <p>3 day ago</p>
                </div>
              </a>
            </article>
            <article class="-item">
              <a href="">
                <img src="../static/images/spikes.jpeg" alt="">
                <div class="info">
                  <h3>Jiko Koa</h3>
                  <h4>Ksh 4,000</h4>
                  <p>3 day ago</p>
                </div>
              </a>
            </article>
            <article class="-item">
              <a href="">
                <img src="../static/images/spikes.jpeg" alt="">
                <div class="info">
                  <h3>Jiko Koa</h3>
                  <h4>Ksh 4,000</h4>
                  <p>3 day ago</p>
                </div>
              </a>
            </article>
            <article class="-item">
              <a href="">
                <img src="../static/images/spikes.jpeg" alt="">
                <div class="info">
                  <h3>Jiko Koa</h3>
                  <h4>Ksh 4,000</h4>
                  <p>3 day ago</p>
                </div>
              </a>
            </article>

          </div>
        </div>

      </div>


      <!-- <script src="../static/scripts/start.js"></script> -->
      <!-- <script src="../static/scripts/start.js"></script> -->
  </body>
</html>
